body { padding-top: 70px; }
.form_caja .btn-default.btn {
    width: 100%;
    background-color: #3379b6;
    color: #fff;
    font-size: 22px;
}
.form-row {
    margin-bottom: 10px;
}

.loginform {
    max-width: 640px;
    margin: 0 auto;
    padding: 35px;
    text-align: center;
    box-shadow: 4px 4px 8px grey;
    margin-top: 55px;
}
/*
table {
    width: 716px; !* 140px * 5 column + 16px scrollbar width *!
    border-spacing: 0;
}

tbody, thead tr { display: block; }

tbody {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody td, thead th {
    width: 240px;
}

thead th:last-child {
    width: 256px; !* 140px + 16px scrollbar width *!
}*/
