{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title 'Bienvenidos' %}

{% block page_content %}

    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <a href="/admin?crudAction=index&crudId=4618960&menuIndex=2&submenuIndex=-1">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Usuarios</div>
                    <div class="card-body">
                        <p class="card-text">Desde este gestor manejamos los usuarios y sus permisos</p>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-md-4">
                <a href="{{ path('caja_index') }}">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header ">Caja</div>
                        <div class="card-body">
                            <p class="card-text">Desde este gestor se manejan los ingresos y egresos de caja diaria</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>

{% endblock %}